---
title: Bible
permalink: /bible/
layout: default
nav: true
---
<form id="searchForm">
  <input id="searchBox" placeholder="Lookup a book, chapter, or verse..." type="text" aria-label="Go" name="q">
  <input id="searchBtn" type="submit" value="Go">
  <input id="searchDevInput" type="checkbox" hidden name="dev" value="1">
  <input id="searchH3Input" type="checkbox" hidden name="h3" value="1">
  <input id="searchParaInput" type="checkbox" hidden name="para" value="1">
  <input id="searchRefsInput" type="checkbox" hidden name="refs" value="1">
</form>

<div class="wrapper">
    <h2 id="title"></h2>
    <label class="switch">
        <span class="switch-span">Paragraph</span>
        <input id="paraInput" type="checkbox">
        <span class="slider"></span>
        <span class="switch-span">Verses</span>
    </label>
    <label class="h3Label">
        <input id="h3Input" type="checkbox">
        <span>Hide Headers</span>
    </label>
    <label class="refsLabel">
        <input id="refsInput" type="checkbox">
        <span>Hide Refs</span>
    </label>
    <label class="devLabel">
        <input id="devInput" type="checkbox">
        <span>Debug</span>
    </label>
    <article id="verses">
    </article>
</div>
<script src="/htranslate.js"></script>
<script src="/gtranslate.js"></script>
{% assign bookregex = "" %}
<script>
    const url = new URL(window.location);
    const books = {
        {% for book in site.data.meta %}{% assign nbook = book[0] | replace: "_", " " %}{% assign bookregex = bookregex | append: book[1].regex | append: "|" %}"{{ book[1].name }}": {r: /{{ book[1].regex }}/i, n: "{{ nbook }}", t: "{{ book[1].testament }}"},{% endfor %}
    }
    const titleDiv = document.querySelector("#title");
    const versesDiv = document.querySelector("#verses");
    const h3Label = document.querySelector('.h3Label');
    const switchLabel = document.querySelector('.switch');
    const refsLabel = document.querySelector('.refsLabel');
    const bookRegex = /({{ bookregex | split: "|" | join: "|" }})/i;
    document.querySelector('#searchBox').value = url.searchParams.get('q');
    switchLabel.addEventListener('click', e => {
        let checked = document.querySelector("#paraInput").checked;
        document.querySelector("#searchParaInput").checked = checked;
        checked ? versesDiv.classList.add('block') : versesDiv.classList.remove('block');
        checked ? url.searchParams.set('para', '1') : url.searchParams.delete('para');
        window.history.pushState({}, '', url);
    });
    document.querySelector('.devLabel').addEventListener('click', e => {
        let checked = document.querySelector("#devInput").checked;
        document.querySelector("#searchDevInput").checked = checked;
        document.location.href = checked ? document.location.href + '&dev=1' : document.location.href.replace('&dev=1', '');
    });
    h3Label.addEventListener('click', e => {
        let checked = document.querySelector("#h3Input").checked;
        document.querySelector("#searchH3Input").checked = checked;
        [...document.querySelectorAll('h3')].forEach(el => el.hidden = checked);
        checked ? url.searchParams.set('h3', '1') : url.searchParams.delete('h3');
        window.history.pushState({}, '', url);
    });
    refsLabel.addEventListener('click', e => {
        let checked = document.querySelector("#refsInput").checked;
        document.querySelector("#searchRefsInput").checked = checked;
        [...document.querySelectorAll('sup')].forEach(el => el.hidden = checked);
        checked ? url.searchParams.set('refs', '1') : url.searchParams.delete('refs');
        window.history.pushState({}, '', url);
    });
    if (url.searchParams.get('para') == '1') {
        if (!document.querySelector("#paraInput").checked) {
            switchLabel.click();
        }
    } else {
        if (document.querySelector("#paraInput").checked) {
            switchLabel.click();
        }
    }
    if (url.searchParams.get('dev') == '1') {
        document.querySelector("#devInput").checked = true;
        document.querySelector("#searchDevInput").checked = true;
    } else {
        document.querySelector("#devInput").checked = false;
        document.querySelector("#searchDevInput").checked = false;
    }
    fetch('https://strongs.netlify.app/strong/hstrong.json').then(response => response.json()).then(data => window.hstrong = data).then(() => fetch('https://strongs.netlify.app/strong/gstrong.json')).then(response => response.json()).then(data => window.gstrong = data).then(() => fetch('/header.json')).then(response => response.json()).then(data => window.headers = data).then(() => {
        return search(url.searchParams.get('q'));
    }).then(() => {
        let aNew = [...document.querySelectorAll('#verses a')].filter(e=>e.innerText==='###');
        let todo = {
            nouns: [...new Set(aNew.filter(e=>e?.title?.match(/( |H)N/))?.map(e=>e?.title?.replace(/ H/, ' ')).filter(e=>e!=undefined))]?.sort((a,b)=>Number(a?.match(/^([0-9]+)(?: [a-z]|\+)?:/)[1])-Number(b?.match(/^([0-9]+)(?: [a-z]|\+)?:/)?.[1])),
            adjectives: [...new Set(aNew.filter(e=>e?.title?.match(/( |H)A/))?.map(e=>e?.title?.replace(/ H/, ' ')).filter(e=>e!=undefined))]?.sort((a,b)=>Number(a?.match(/^([0-9]+)(?: [a-z]|\+)?:/)[1])-Number(b?.match(/^([0-9]+)(?: [a-z]|\+)?:/)?.[1])),
            verbs: [...new Set(aNew.filter(e=>e?.title?.match(/( |H)V/))?.map(e=>e?.title?.replace(/ H/, ' ')).filter(e=>e!=undefined))]?.sort((a,b)=>Number(a?.match(/^([0-9]+)(?: [a-z]|\+)?:/)[1])-Number(b?.match(/^([0-9]+)(?: [a-z]|\+)?:/)?.[1])),
            conjuctions: [...new Set(aNew.filter(e=>e?.title?.match(/( |H)C/))?.map(e=>e?.title?.replace(/ H/, ' ')).filter(e=>e!=undefined))]?.sort((a,b)=>Number(a?.match(/^([0-9]+)(?: [a-z]|\+)?:/)[1])-Number(b?.match(/^([0-9]+)(?: [a-z]|\+)?:/)?.[1])),
            adverbs: [...new Set(aNew.filter(e=>e?.title?.match(/( |H)D/))?.map(e=>e?.title?.replace(/ H/, ' ')).filter(e=>e!=undefined))]?.sort((a,b)=>Number(a?.match(/^([0-9]+)(?: [a-z]|\+)?:/)[1])-Number(b?.match(/^([0-9]+)(?: [a-z]|\+)?:/)?.[1])),
            pronouns: [...new Set(aNew.filter(e=>e?.title?.match(/( |H)P/))?.map(e=>e?.title?.replace(/ H/, ' ')).filter(e=>e!=undefined))]?.sort((a,b)=>Number(a?.match(/^([0-9]+)(?: [a-z]|\+)?:/)[1])-Number(b?.match(/^([0-9]+)(?: [a-z]|\+)?:/)?.[1])),
            prepositions: [...new Set(aNew.filter(e=>e?.title?.match(/( |H)R/))?.map(e=>e?.title?.replace(/ H/, ' ')).filter(e=>e!=undefined))]?.sort((a,b)=>Number(a?.match(/^([0-9]+)(?: [a-z]|\+)?:/)[1])-Number(b?.match(/^([0-9]+)(?: [a-z]|\+)?:/)?.[1])),
            suffixes: [...new Set(aNew.filter(e=>e?.title?.match(/( |H)S/))?.map(e=>e?.title?.replace(/ H/, ' ')).filter(e=>e!=undefined))]?.sort((a,b)=>Number(a?.match(/^([0-9]+)(?: [a-z]|\+)?:/)[1])-Number(b?.match(/^([0-9]+)(?: [a-z]|\+)?:/)?.[1])),
            particles: [...new Set(aNew.filter(e=>e?.title?.match(/( |H)T/))?.map(e=>e?.title?.replace(/ H/, ' ')).filter(e=>e!=undefined))]?.sort((a,b)=>Number(a?.match(/^([0-9]+)(?: [a-z]|\+)?:/)[1])-Number(b?.match(/^([0-9]+)(?: [a-z]|\+)?:/)?.[1])),
        };
        console.dir(todo);
    }).then(() => {
        if (url.searchParams.get('h3') == '1') {
            if (!document.querySelector("#h3Input").checked) {
                h3Label.click();
            }
        } else {
            if (document.querySelector("#h3Input").checked) {
                h3Label.click();
            }
        }
        if (url.searchParams.get('refs') == '1') {
            if (!document.querySelector("#refsInput").checked) {
                refsLabel.click();
            }
        } else {
            if (document.querySelector("#refsInput").checked) {
                refsLabel.click();
            }
        }
    });
    function log(...args) {
        if (url.searchParams.get('dev') === '1') {
            console.log(...args);
        }
    }
    function search(text) {
        if (!text) {
            return;
        }
        try {
            var book = text.match(bookRegex)[0];
            log(book);
            for ([b, v] of Object.entries(books)) {
                if (book.match(v.r)) {
                    if (/[0-9](?:\:|\.)[0-9]/.test(text)) { // Verse
                        var match = text.match(/([0-9]*?)(?:\:|\.)([0-9]*)/);
                        if (/[0-9](?:\:|\.)[0-9]*?-[0-9]/.test(text)) { // Multiple Verses
                            var range = text.match(/(?:\:|\.)([0-9]*?)-([0-9]*)$/);
                            titleDiv.innerText =  v.n.charAt(0).toUpperCase() + v.n.substr(1) + ' ' + match[0].replace(/(\.)([0-9]+)(\.)([0-9])/, ' $2:$4') + '-' + range[2];
                            document.title =  v.n.charAt(0).toUpperCase() + v.n.substr(1) + ' ' + match[0].replace(/(\.)([0-9]+)(\.)([0-9])/, ' $2:$4') + '-' + range[2];
                            var verses = [];
                            let r2 = Number(range[2]);
                            for (let i = Number(range[1]); i <= r2; i++) {
                                verses.push(i);
                            }
                            return translate(v.t, [b], [match[1]], verses);
                        } else { // Single Verse
                            document.title = v.n.charAt(0).toUpperCase() + v.n.substr(1) + ' ' + match[0].replace(/(\.)([0-9]+)(\.)([0-9])/, ' $2:$4');
                            titleDiv.innerText += v.n.charAt(0).toUpperCase() + v.n.substr(1) + ' ' + match[0].replace(/(\.)([0-9]+)(\.)([0-9])/, ' $2:$4');
                            return translate(v.t, [b], [match[1]], [match[2]]);
                        }
                    } else if (/[0-9]$/.test(text)) { // Chapter
                        var match = text.match(/\s([0-9-]*)$/)[1].split('-');
                        if (match.length === 1) {
                            titleDiv.innerText = v.n.charAt(0).toUpperCase() + v.n.substr(1) + ' ' + match[0];
                            document.title = v.n.charAt(0).toUpperCase() + v.n.substr(1) + ' ' + match[0];
                        } else {
                            titleDiv.innerText = v.n.charAt(0).toUpperCase() + v.n.substr(1) + ' ' + match[0] + '-' + match.at(-1);
                            document.title = v.n.charAt(0).toUpperCase() + v.n.substr(1) + ' ' + match[0] + '-' + match.at(-1);
                        }
                        let chapters = [];
                        let last = Number(match.at(-1));
                        for (let i = Number(match[0]); i <= last; i++) {
                            chapters.push(i);
                        }
                        log(match, match[0], match.at(-1), chapters);
                        return translate(v.t, [b], chapters);
                    } else { // Book or Word
                        if (titleDiv.innerText.length === 0) {
                            titleDiv.innerText = v.n.charAt(0).toUpperCase() + v.n.substr(1);
                            document.title = v.n.charAt(0).toUpperCase() + v.n.substr(1);
                        } else {
                            titleDiv.innerText +=  ", " + v.n.charAt(0).toUpperCase() + v.n.substr(1);
                            document.title +=  ", " + v.n.charAt(0).toUpperCase() + v.n.substr(1); 
                        }
                        return translate(v.t, [b]);
                    }
                    break;
                }
            }
        } catch(err) {
            console.error(err);
        }
    }
    function getVerses(verses, lang) {
        for (let v of verses) { // loop through each verse given
            let vp = document.createElement("p");
            vp.innerHTML = (lang === 'he' ? parseHeb(v) : parseGrk(v)) + ' ';
            versesDiv.append(vp);
        }
    }
    function translate(testament, book, chapter, verse) {
        log(book, chapter, verse);
        let bookData = {};
        return book.reduce((acc, b) => {
            return acc.then(() => {
                return fetch((testament === "old" ? "https://rawcdn.githack.com/openscriptures/morphhb/2005a3e5871ec9517da6a3a4c1b7a440bdb82241/wlc/" : "https://glcdn.githack.com/csirollilmco/osisgnt/-/raw/cb3b727fc157bf80e8ec6f2539ae4ceb925dd0e8/")+b+".xml?min=1", {cache: "force-cache"})
                .then(response => response.text())
                .then(str => (new window.DOMParser()).parseFromString(str, "text/xml"))
                .then(data => {
                    var lang = data.querySelector('osisText').attributes.getNamedItem("xml:lang").value;
                    var chapters = data.getElementsByTagName("chapter");
                    if (chapter === undefined || chapter.length === 0) { // query whole book
                        for (let c of chapters) { // loop through each chapter given
                            getVerses(c.getElementsByTagName("verse"), lang);
                        }
                    } else if (verse === undefined || verse.length === 0) { // query whole chapter(s)
                        chapter.forEach(c => { // loop through each chapter given
                            getVerses(chapters[Number(c) - 1].getElementsByTagName("verse"), lang);
                        });
                    } else { // query specific verse(s)
                        getVerses([...chapters[Number(chapter[0]) - 1].getElementsByTagName("verse")].filter((v,i) => verse.map(v => Number(v)).includes(Number(v.attributes.getNamedItem('osisID').value.match(/(?<=\.)\d+$/)[0]))), lang);
                    }
                });
            });
        }, Promise.resolve());
    }
</script>
