---
title: Calendar
permalink: /cal/
layout: default
nav: true
---
<style>
	td {
		border: 1px solid black;
    height: 21px;
    width: 21px;
    line-height: 1;
	}

	.mname {
		border: none;
		width: 71px;
	}

	.m0 {
		background: lightgray;
	}

	th:nth-child(odd) {
		background: lightgray;
	}

	caption {
		width: calc(100% - 71px);
	}

	.vline {
		border-left: 1px solid black;
		height: inherit;
	}

	#yearInput {
		width: 4em;
	}
</style>
<div>
	<input type="number" id="yearInput">
	<select id="yearType"><option value="AD">AD/CE (Gregorian)</option><option value="BC">BC/BCE (Gregorian)</option><option value="AUC">AUC (Julian/Roman)</option><option value="AM">AM (Hebrew)</option></select>
	<input type="button" id="yearSubmit" value="Show Year">
	<input type="button" id="yearSubmitPrev" value="<">
	<input type="button" id="yearSubmitNext" value=">">
  </div>
	<div style="display: flex; margin-top: 1em; align-items: flex-start;">
		<table id="hCalendar"></table>
		<div class="vline"></div>
		<table id="jCalendar"></table>
		<div class="vline"></div>
		<table id="gCalendar"></table>
	</div>
	<script type="text/javascript" src="https://unpkg.com/@hebcal/core@3.24.0/dist/index.js"></script>
  <!-- <script type="text/javascript" src="https://rawcdn.githack.com/yparitcher/zmanJS/33cfda83d7b68dc390fa98e644a7db9a47e6e583/hebrewcalendar.js?min=1"></script> -->
  <!-- <script type="text/javascript" src="./hebrewcalendar.js"></script> -->
	<script>
		document.addEventListener('DOMContentLoaded', () => {
  var funname = this.name;
  try {
    var d = new Date();
    var y = d.getFullYear();
    genYear(y.toString());
    $('#yearInput').value = y;
  } catch (e) {
    return console.error(e, [funname, ...arguments]);
  }
});
function $(q) {
  var funname = this.name;
  try {
    if (q.match(/<.*?>/)) {
      return document.createElement(q.match(/<([a-zA-Z]+).*?>/)[1]);
    }
    return document.querySelector(q);
  } catch (e) {
    return console.error(e, [funname, ...arguments]);
  }
}
$("#yearInput").addEventListener('keyup', function (e) {
  var funname = this.name;
  try {
    if (e.key === 'Enter') {
      genYear(this.value);
    }
  } catch (e) {
    return console.error(e, [funname, ...arguments]);
  }
});
$("#yearSubmit").addEventListener('click', function (e) {
  var funname = this.name;
  try {
    genYear($('#yearInput').value);
  } catch (e) {
    return console.error(e, [funname, ...arguments]);
  }
});
$("#yearSubmitPrev").addEventListener('click', function (e) {
  var funname = this.name;
  try {
    var v = $('#yearInput');
    v.value = v.valueAsNumber - 1;
    genYear(v.value);
  } catch (e) {
    return console.error(e, [funname, ...arguments]);
  }
});
$("#yearSubmitNext").addEventListener('click', function (e) {
  var funname = this.name;
  try {
    var v = $('#yearInput');
    v.value = v.valueAsNumber + 1;
    genYear(v.value);
  } catch (e) {
    return console.error(e, [funname, ...arguments]);
  }
});
var hCal = $('#hCalendar');
var jCal = $('#jCalendar');
var gCal = $('#gCalendar');
var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
var months = {
  g: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
  j: ['Ianuarius', 'Februarius', 'Martius', 'Aprilis', 'Maius', 'Iunius', 'Quintilis', 'Sextilis', 'September', 'October', 'November', 'December'],
  h: ['Nisan', 'Iyar', 'Sivan', 'Tammuz', 'Av', 'Elul', 'Tishrei', 'Cheshvan', 'Kislev', 'Tevet', 'Shevat', 'Adar'],
}
var monLen = {
  j: [31,28,31,30,31,30,31,31,30,31,30,31],
  r: [29,28,31,29,31,29,31,29,29,31,29,29],
  h: [30,29,30,29,30,29,30,29,30,29,30,29]
}
function isLeap (y, c) {
  var funname = this.name;
  try {
    if (c === 'g' || c === undefined) {
      if (y % 100 == 0) {
        if (y % 400 == 0) {
          return true;
        }
      } else if (y % 4 == 0) {
        return true;
      }
    } else if (c === 'j') {
      if (y > -43 && y < -7) {
        if ((y + 47) % 3 == 0) {
          return true;
        }
      } else if (y >= 8) {
        if (y % 4 == 0) {
          return true;
        }
      }
      return false;
    } else if (c === 'h') {
      var r = Number(uparseYear(y,c,true)) % 19;
      if (r === 3 || r === 6 || r === 8 || r === 11 || r === 14 || r === 17 || r === 0) {
        return true;
      }
    }
    return false;
  } catch (e) {
    return console.error(e, [funname, ...arguments]);
  }
}
function getday(d,m,y,c) {
  let funname = this.name;
  try {
    function f(n) {
      return Math.floor(n);
    }
    function ce(n) {
      return Math.ceil(n);
    }
    let yy = y;
    if (m <= 1) {
      yy -= 1;
    }
    // Zeller's congruence
    let w = d + f((13*(m+1))/5) + yy;
    if (c === 'g' || c === undefined) {
      if (y >= 0) {
        w = (w + f(yy/4) - f(yy/100) + f(yy/400)) % 7;
      } else {
        w = (w + ce(yy/4) - ce(yy/100) + ce(yy/400)) % 7;
      }
    } else if (c === 'j') {
      if (y > 7) {
        w = (w + f(yy/4) + 5) % 7;
      } else if (y <= 7 && y > -7) {
        w = (w + 6) % 7;
      } else if (y === -7) {
        w = (((w + -8 + ce(-8/3)) % 7) + 366) % 7;
      } else {
        w = w % 7; //idk what to do!!!
      }
    } else if (c === 'h') {
      // zmanJS.hdate(uparseYear(y, c, true), d - 1, m);
      // return zmanJS.wday;
      let hd = new Hebcal.HDate(d, m, uparseYear(y, c, true));
      return hd.getDay();
    }
    if (w === 0) {
      return 6;
    } if (w < 0) {
      return w + 6;
    } else {
      return w - 1;
    }
  } catch (e) {
    return console.error(e, [funname, ...arguments]);
  }
}
function getMonths (y, c) {
  var funname = this.name;
  try {
    var m = [];
    var l = isLeap(y,c);
    months[c].forEach((n, i) => {
      m[i] = {};
      m[i].name = n;
      m[i].length = monLen.j[i];
    });

    if (c === 'g' || c === undefined) {
      if (l) {
        m[1].length += 1;
      }
    } else if (c === 'j') {
      if (y > -43) {
        if (l) {
          m[1].length += 1;
        }
      } else {
        months[c].forEach((n, i) => {
          m[i].length = monLen.j[i];
        });
      }
    } else if (c === 'h') {
      months[c].forEach((n, i) => {
        m[i].length = monLen.h[i];
      });
      if (l) {
        m[11].length = 30;
        m[12] = {
          name: 'Adar II',
          length: 29,
        };
      }
    }
    return m;
  } catch (e) {
    return console.error(e, [funname, ...arguments]);
  }
}
function popYear (y, c) {
  var funname = this.name;
  try {
    var m = getMonths(y,c);
    var n = getday(1,1,y,c);
    var cal;
    if (c === 'g' || c === undefined) {
      cal = gCal;
    } else if (c === 'j') {
      cal = jCal;
    } else if (c === 'h') {
      cal = hCal;
    }
    m.forEach((mon, i) => {
      let monlen = mon.length;
      if (c === 'h') {
        // monlen = zmanJS.LastDayOfHebrewMonth(uparseYear(y, c, true), i+1);
        monlen = new Hebcal.HDate(1,1,uparseYear(y, c, true)).getYearObject().getMonth(i+1).length;
      }
      for (var j = 1; j <= mon.length; j++) {
        if (n === 0) {
          cal.appendChild($('<tr>'));
        } else if (j === 1 && i === 0 && cal.children.length === 2) {
          let tr = $('<tr>');
          for (var k = 0; k < n; k++) {
            tr.appendChild($('<td>'));
          }
          cal.appendChild(tr);
        }
        let td = $('<td>');
        td.classList = 'm' + (i % 2);
        td.innerText = j;
        cal.lastChild.appendChild(td);
        n++;
        if (n === 7) {
          if (j < 8) {
            let td = $('<td>');
            td.innerText = mon.name;
            td.classList.add('mname');
            cal.lastChild.appendChild(td);
          }
          n = 0;
        }
      }
    });
  } catch (e) {
    return console.error(e, [funname, ...arguments]);
  }
}
function parseYear(v, c) {
  var funname = this.name;
  try {
    if (typeof v === 'string') {
      if (c === 'g' || c === undefined) {
        if (v.match(/(c\.?e|a\.?d)/i)) {
          return Number(v.replace(/(\s*?(?:c\.?e\.?|a\.?d\.?)\s*?)/i, '').replaceAll(/\s/ig, ''));
        } else if (v.match(/(b\.?c)/i)) {
          return 1 - Number(v.replace(/(\s*?(?:b\.?c\.?e\.?|b\.?c\.?)\s*?)/i, '').replaceAll(/\s/ig, ''));
        } else {
          return Number(v.replaceAll(/\s/ig, ''));
        }
      } else if (c === 'j') {
        if (v.match(/(a\.?u\.?c)/i)) {
          return Number(v.replace(/(\s*?a\.?u\.?c\.?\s*?)/i, '')) - 753;
        } else {
          return Number(v.replaceAll(/\s/ig, '')) - 753;
        }
      } else if (c === 'h') {
        return Number(v) - 3760;
      }
    } else {
      if (c === 'g' || c === undefined) {
        return v;
      } else if (c === 'j') {
        return v - 753;
      } else if (c === 'h') {
        return v - 3760;
      }
    }
  } catch (e) {
    return console.error(e, [funname, ...arguments]);
  }
}
function uparseYear(v, c, nolabel) {
  var funname = this.name;
  try {
    if (c === 'g' || c === undefined) {
      if (nolabel) {
        return v;
      }
      if (v > 0) {
        return 'AD ' + v;
      } else {
        return (Math.abs(v) + 1) + ' BC';
      }
    } else if (c === 'j') {
      if (nolabel) {
        return v + 753;
      }
      return 'AUC ' + (v + 753);
    } else if (c === 'h') {
      if (nolabel) {
        return v + 3760;
      }
      return 'AM ' + (v + 3760);
    }
  } catch (e) {
    return console.error(e, [funname, ...arguments]);
  }
}
function clearNodes (cal) {
  var funname = this.name;
  try {
    if (cal.hasChildNodes()) {
      [...cal.childNodes].forEach(c => {
        cal.removeChild(c);
      });
    }
  } catch (e) {
    return console.error(e, [funname, ...arguments]);
  }
}
function genYear (v) {
  var funname = this.name;
  try {
    var c;
    var s = $('#yearType').value;
    if (s === 'AD' || s === 'BC') {
      c = 'g';
      if (s === 'BC') {
        v = -v + 1;
      }
    } else if (s === 'AUC') {
      c = 'j';
    } else if (s === 'AM') {
      c = 'h';
    }
    var y = parseYear(v, c);
    clearNodes(hCal);
    clearNodes(jCal);
    clearNodes(gCal);
    let thead = $('<thead>');
    let hthead = $('<thead>');
    days.forEach((v,i) => {
      let dn = v.slice(0,1);
      let th = $('<th>');
      th.innerText = dn;
      thead.appendChild(th);
      let hth = $('<th>');
      if (i != 6) {
        hth.innerText = i + 1;
      } else {
        hth.innerText = 'S';
      }
      hthead.appendChild(hth);
    });
    hCal.appendChild(hthead);
    gCal.appendChild(thead);
    jCal.appendChild(thead.cloneNode(true));
    var hCap = $('<caption>');
    var jCap = $('<caption>');
    var gCap = $('<caption>');
    hCap.innerText = uparseYear(y, 'h');
    jCap.innerText = uparseYear(y, 'j');
    gCap.innerText = uparseYear(y, 'g');
    hCal.appendChild(hCap);
    jCal.appendChild(jCap);
    gCal.appendChild(gCap);
    if (c === 'h') {
      popYear(y-2, 'j');
      popYear(y-2, 'g');
      popYear(y-1, 'j');
      popYear(y-1, 'g');
    } else if (c === 'j') {
      popYear(y-2, 'h');
      popYear(y-2, 'g');
      popYear(y-1, 'h');
      popYear(y-1, 'g');
    } else if (c === 'g') {
      popYear(y-2, 'h');
      popYear(y-2, 'j');
      popYear(y-1, 'h');
      popYear(y-1, 'j');
    }
    popYear(y, 'h');
    popYear(y, 'j');
    popYear(y, 'g');
    if (c === 'h') {
      popYear(y+1, 'j');
      popYear(y+1, 'g');
      popYear(y+2, 'j');
      popYear(y+2, 'g');
    } else if (c === 'j') {
      popYear(y+1, 'h');
      popYear(y+1, 'g');
      popYear(y+2, 'h');
      popYear(y+2, 'g');
    } else if (c === 'g') {
      popYear(y+1, 'h');
      popYear(y+1, 'j');
      popYear(y+2, 'h');
      popYear(y+2, 'j');
    }
  } catch (e) {
    return console.error(e, [funname, ...arguments]);
  }
}
	</script>
