---
title: Generate Strongs
layout: page
permalink: /genGStrong/
---
<button onclick="copy('json')">Click to copy</button>
<pre id="json" style="overflow-y: scroll; height: 90vh;"></pre>
<script>
var text;
function copy(containerid) {
  if (document.selection) {
    var range = document.body.createTextRange();
    range.moveToElementText(document.getElementById(containerid));
    range.select().createTextRange();
    document.execCommand("copy");
  } else if (window.getSelection) {
    var range = document.createRange();
    range.selectNode(document.getElementById(containerid));
    window.getSelection().addRange(range);
    document.execCommand("copy");
    alert("Text has been copied, now paste in the text-area");
  }
}
function genObj(obj) {
    return Object.prototype.toString.call(obj) === "[object Object]" ? obj : {};
}
function genStr(obj) {
    return Object.prototype.toString.call(obj) === "[object String]" ? obj : "";
}
var gstrong;
{% assign nt = site.data.meta | where: "testament", "new" %}
const books = [{% for book in nt %}"{{ book.name }}",{% endfor %}].filter(e => e != "");
fetch('/gstrong.json').then(response => response.json()).then(data => gstrong = data).then(() => {
    for (let g of Object.keys(gstrong)) {
        gstrong[g].refs = [];
    }
    let promises = [];
    books.forEach(b => {
        promises.push(fetch("https://glcdn.githack.com/csirollilmco/osisgnt/-/raw/cb3b727fc157bf80e8ec6f2539ae4ceb925dd0e8/"+b+".xml?min=1", {cache: "force-cache"}).then(response => response.text()).then(str => (new window.DOMParser()).parseFromString(str, "text/xml")).then(data => {
            let chapters = data.getElementsByTagName("chapter");
            // console.log(data, chapters);
            for (let c of chapters) {
                let verses = c.getElementsByTagName("verse");
                // console.log(verses);
                for (let v of verses) {
                    let ref = v.attributes.getNamedItem("osisID").value.match(/^(.*?)\.(.*?)\.(.*?)$/);
                    let words = v.getElementsByTagName("w");
                    // console.log(words);
                    for (let w of words) {
                        let lemma = w.attributes.getNamedItem("lemma").value;
                        let morph = w.attributes.getNamedItem("morph").value.split('-');
                        try {
                            let word = gstrong['G'+lemma];
                            word.refs = word.refs || [];
                            word.refs.push(ref[0]);
                            word.forms = genObj(word.forms);
                            let l1m = morph[0];
                            let l2m, l3m, l4m;
                            switch (morph.length) {
                                case 1: word.forms[l1m] = genStr(word.forms[l1m]); break;
                                case 2:
                                    l2m = morph[1].split('');
                                    word.forms[l1m] = genObj(word.forms[l1m]);
                                    switch (l2m.length) {
                                        case 1: word.forms[l1m][l2m[0]] = genStr(word.forms[l1m][l2m[0]]); break;
                                        case 2:
                                            word.forms[l1m][l2m[0]] = genObj(word.forms[l1m][l2m[0]]);
                                            word.forms[l1m][l2m[0]][l2m[1]] = genStr(word.forms[l1m][l2m[0]][l2m[1]]);
                                            break;
                                        case 3:
                                            word.forms[l1m][l2m[0]] = genObj(word.forms[l1m][l2m[0]]);
                                            word.forms[l1m][l2m[0]][l2m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]]);
                                            word.forms[l1m][l2m[0]][l2m[1]][l2m[2]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]]);
                                            break;
                                        case 4:
                                            word.forms[l1m][l2m[0]] = genObj(word.forms[l1m][l2m[0]]);
                                            word.forms[l1m][l2m[0]][l2m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]]);
                                            word.forms[l1m][l2m[0]][l2m[1]][l2m[2]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]]);
                                            word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]]);
                                            break;
                                        case 5:
                                            word.forms[l1m][l2m[0]] = genObj(word.forms[l1m][l2m[0]]);
                                            word.forms[l1m][l2m[0]][l2m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]]);
                                            word.forms[l1m][l2m[0]][l2m[1]][l2m[2]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]]);
                                            word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]]);
                                            word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l2m[4]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l2m[4]]);
                                            break;
                                        default:
                                            console.warn('Something broke', lemma, morph, morph.length, l2m); break;
                                    }
                                    break;
                                case 3:
                                    l2m = morph[1].split('');
                                    l3m = morph[2].split('');
                                    word.forms[l1m] = genObj(word.forms[l1m]);
                                    word.forms[l1m][l2m[0]] = genObj(word.forms[l1m][l2m[0]]);
                                    switch (l2m.length) {
                                        case 1:
                                            switch (l3m.length) {
                                                case 1: word.forms[l1m][l2m[0]][l3m[0]] = genStr(word.forms[l1m][l2m[0]][l3m[0]]); break;
                                                case 2:
                                                    word.forms[l1m][l2m[0]][l3m[0]] = genObj(word.forms[l1m][l2m[0]][l3m[0]]);
                                                    word.forms[l1m][l2m[0]][l3m[0]][l3m[1]] = genStr(word.forms[l1m][l2m[0]][l3m[0]][l3m[1]]);
                                                    break;
                                                case 3:
                                                    word.forms[l1m][l2m[0]][l3m[0]] = genObj(word.forms[l1m][l2m[0]][l3m[0]]);
                                                    word.forms[l1m][l2m[0]][l3m[0]][l3m[1]] = genObj(word.forms[l1m][l2m[0]][l3m[0]][l3m[1]]);
                                                    word.forms[l1m][l2m[0]][l3m[0]][l3m[1]][l3m[2]] = genStr(word.forms[l1m][l2m[0]][l3m[0]][l3m[1]][l3m[2]]);
                                                    break;
                                                default:
                                                    console.warn('Something broke', lemma, morph, morph.length, l2m, l3m); break;
                                            }
                                            break;
                                        case 2:
                                            word.forms[l1m][l2m[0]][l2m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]]);
                                            switch (l3m.length) {
                                                case 1: word.forms[l1m][l2m[0]][l2m[1]][l3m[0]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]]); break;
                                                case 2:
                                                    word.forms[l1m][l2m[0]][l2m[1]][l3m[0]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]]);
                                                    break;
                                                case 3:
                                                    word.forms[l1m][l2m[0]][l2m[1]][l3m[0]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]][l3m[2]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]][l3m[2]]);
                                                    break;
                                                default:
                                                    console.warn('Something broke', lemma, morph, morph.length, l2m, l3m); break;
                                            }
                                            break;
                                        case 3:
                                            word.forms[l1m][l2m[0]][l2m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]]);
                                            word.forms[l1m][l2m[0]][l2m[1]][l2m[2]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]]);
                                            switch (l3m.length) {
                                                case 1: word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]]); break;
                                                case 2:
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]]);
                                                    break;
                                                case 3:
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]][l3m[2]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]][l3m[2]]);
                                                    break;
                                                default:
                                                    console.warn('Something broke', lemma, morph, morph.length, l2m, l3m); break;
                                            }
                                            break;
                                        case 4:
                                            word.forms[l1m][l2m[0]] = genObj(word.forms[l1m][l2m[0]]);
                                            word.forms[l1m][l2m[0]][l2m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]]);
                                            word.forms[l1m][l2m[0]][l2m[1]][l2m[2]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]]);
                                            word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]]);
                                            switch (l3m.length) {
                                                case 1: word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]]); break;
                                                case 2:
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]][l3m[1]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]][l3m[1]]);
                                                    break;
                                                case 3:
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]][l3m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]][l3m[1]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]][l3m[1]][l3m[2]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]][l3m[1]][l3m[2]]);
                                                    break;
                                                default:
                                                    console.warn('Something broke', lemma, morph, morph.length, l2m, l3m); break;
                                            }
                                            break;
                                        default:
                                            console.warn('Something broke', lemma, morph, morph.length, l2m, l3m); break;
                                    }
                                    break;
                                case 4:
                                    l2m = morph[1].split('');
                                    l3m = morph[2].split('');
                                    l4m = morph[3].split('');
                                    word.forms[l1m] = genObj(word.forms[l1m]);
                                    switch (l2m.length) {
                                        case 1:
                                            word.forms[l1m][l2m[0]][l3m[0]] = genObj(word.forms[l1m][l2m[0]][l3m[0]]);
                                            switch (l3m.length) {
                                                case 1:
                                                    word.forms[l1m][l2m[0]][l3m[0]][l4m[0]] = genObj(word.forms[l1m][l2m[0]][l3m[0]][l4m[0]]);
                                                    word.forms[l1m][l2m[0]][l3m[0]][l4m[0]][l4m[1]] = genObj(word.forms[l1m][l2m[0]][l3m[0]][l4m[0]][l4m[1]]);
                                                    word.forms[l1m][l2m[0]][l3m[0]][l4m[0]][l4m[1]][l4m[2]] = genStr(word.forms[l1m][l2m[0]][l3m[0]][l4m[0]][l4m[1]][l4m[2]]);
                                                    break;
                                                case 2:
                                                    word.forms[l1m][l2m[0]][l3m[0]][l3m[1]] = genObj(word.forms[l1m][l2m[0]][l3m[0]][l3m[1]]);
                                                    word.forms[l1m][l2m[0]][l3m[0]][l3m[1]][l4m[0]] = genObj(word.forms[l1m][l2m[0]][l3m[0]][l3m[1]][l4m[0]]);
                                                    word.forms[l1m][l2m[0]][l3m[0]][l3m[1]][l4m[0]][l4m[1]] = genObj(word.forms[l1m][l2m[0]][l3m[0]][l3m[1]][l4m[0]][l4m[1]]);
                                                    word.forms[l1m][l2m[0]][l3m[0]][l3m[1]][l4m[0]][l4m[1]][l4m[2]] = genStr(word.forms[l1m][l2m[0]][l3m[0]][l3m[1]][l4m[0]][l4m[1]][l4m[2]]);
                                                    break;
                                                case 3:
                                                    word.forms[l1m][l2m[0]][l3m[0]][l3m[1]] = genObj(word.forms[l1m][l2m[0]][l3m[0]][l3m[1]]);
                                                    word.forms[l1m][l2m[0]][l3m[0]][l3m[1]][l3m[2]] = genObj(word.forms[l1m][l2m[0]][l3m[0]][l3m[1]][l3m[2]]);
                                                    word.forms[l1m][l2m[0]][l3m[0]][l3m[1]][l3m[2]][l4m[0]] = genObj(word.forms[l1m][l2m[0]][l3m[0]][l3m[1]][l3m[2]][l4m[0]]);
                                                    word.forms[l1m][l2m[0]][l3m[0]][l3m[1]][l3m[2]][l4m[0]][l4m[1]] = genObj(word.forms[l1m][l2m[0]][l3m[0]][l3m[1]][l3m[2]][l4m[0]][l4m[1]]);
                                                    word.forms[l1m][l2m[0]][l3m[0]][l3m[1]][l3m[2]][l4m[0]][l4m[1]][l4m[2]] = genStr(word.forms[l1m][l2m[0]][l3m[0]][l3m[1]][l3m[2]][l4m[0]][l4m[1]][l4m[2]]);
                                                    break;
                                                default:
                                                    console.warn('Something broke', lemma, morph, morph.length, l2m, l3m, l4m); break;
                                            }
                                            break;
                                        case 2:
                                            word.forms[l1m][l2m[0]] = genObj(word.forms[l1m][l2m[0]]);
                                            word.forms[l1m][l2m[0]][l2m[1]][l3m[0]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]]);
                                            switch (l3m.length) {
                                                case 1:
                                                    word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l4m[0]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l4m[0]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l4m[0]][l4m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l4m[0]][l4m[1]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l4m[0]][l4m[1]][l4m[2]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l4m[0]][l4m[1]][l4m[2]]);
                                                    break;
                                                case 2:
                                                    word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]][l4m[0]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]][l4m[0]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]][l4m[0]][l4m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]][l4m[0]][l4m[1]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]][l4m[0]][l4m[1]][l4m[2]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]][l4m[0]][l4m[1]][l4m[2]]);
                                                    break;
                                                case 3:
                                                    word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]][l3m[2]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]][l3m[2]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]][l3m[2]][l4m[0]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]][l3m[2]][l4m[0]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]][l3m[2]][l4m[0]][l4m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]][l3m[2]][l4m[0]][l4m[1]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]][l3m[2]][l4m[0]][l4m[1]][l4m[2]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l3m[0]][l3m[1]][l3m[2]][l4m[0]][l4m[1]][l4m[2]]);
                                                    break;
                                                default:
                                                    console.warn('Something broke', lemma, morph, morph.length, l2m, l3m, l4m); break;
                                            }
                                            break;
                                        case 3:
                                            word.forms[l1m][l2m[0]] = genObj(word.forms[l1m][l2m[0]]);
                                            word.forms[l1m][l2m[0]][l2m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]]);
                                            word.forms[l1m][l2m[0]][l2m[1]][l2m[2]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]]);
                                            word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]]);
                                            switch (l3m.length) {
                                                case 1:
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l4m[0]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l4m[0]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l4m[0]][l4m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l4m[0]][l4m[1]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l4m[0]][l4m[1]][l4m[2]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l4m[0]][l4m[1]][l4m[2]]);
                                                    break;
                                                case 2:
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]][l4m[0]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]][l4m[0]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]][l4m[0]][l4m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]][l4m[0]][l4m[1]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]][l4m[0]][l4m[1]][l4m[2]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]][l4m[0]][l4m[1]][l4m[2]]);
                                                    break;
                                                case 3:
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]][l3m[2]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]][l3m[2]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]][l3m[2]][l4m[0]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]][l3m[2]][l4m[0]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]][l3m[2]][l4m[0]][l4m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]][l3m[2]][l4m[0]][l4m[1]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]][l3m[2]][l4m[0]][l4m[1]][l4m[2]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l3m[0]][l3m[1]][l3m[2]][l4m[0]][l4m[1]][l4m[2]]);
                                                    break;
                                                default:
                                                    console.warn('Something broke', lemma, morph, morph.length, l2m, l3m, l4m); break;
                                            }
                                            break;
                                        case 4:
                                            word.forms[l1m][l2m[0]] = genObj(word.forms[l1m][l2m[0]]);
                                            word.forms[l1m][l2m[0]][l2m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]]);
                                            word.forms[l1m][l2m[0]][l2m[1]][l2m[2]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]]);
                                            word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]]);
                                            switch (l3m.length) {
                                                case 1: word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]]); break;
                                                case 2:
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]][l3m[1]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]][l3m[1]]);
                                                    break;
                                                case 3:
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]][l3m[1]] = genObj(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]][l3m[1]]);
                                                    word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]][l3m[1]][l3m[2]] = genStr(word.forms[l1m][l2m[0]][l2m[1]][l2m[2]][l2m[3]][l3m[0]][l3m[1]][l3m[2]]);
                                                    break;
                                                default:
                                                    console.warn('Something broke', lemma, morph, morph.length, l2m, l3m, l4m); break;
                                            }
                                            break;
                                        default:
                                            console.warn('Something broke', lemma, morph, morph.length); break;
                                    }
                                    break;
                                default:
                                    console.warn("Word form is too long or too short:", lemma, morph, morph.length); break;
                            }
                            // console.log(ref[0], lemma, word.forms);
                        } catch (e) {
                            console.warn(e,ref[0],lemma,morph);
                        }
                    }
                }
            }
        }));
    });
    Promise.all(promises).then(function handleData(data) {
        for (let g of Object.keys(gstrong)) {
            gstrong[g].refs = gstrong[g].refs.sort((a,b)=>books.indexOf(a.match(/^.+?(?=\.)/)[1]) - books.indexOf(b.match(/^.+?(?=\.)/)[1]));
        }
        let order = ['lemma', 'translit', 'derivation', 'strongs_def', 'forms', 'ref'];
        let comp = Object.keys(gstrong).sort((a,b)=>a.slice(1)-b.slice(1)).reduce((obj, key) => {obj[key] = Object.keys(gstrong[key]).sort((a,b) => order.indexOf(a)-order.indexOf(b)).reduce((obj2, key2) => {obj2[key2] = gstrong[key][key2]; return obj2}, {}); return obj}, {});
        // console.log(comp);
        document.querySelector("#json").innerText = JSON.stringify(comp).replace(/,"(G[0-9])/g, ",\n\"$1");
    }).catch(function handleError(...args) {
        console.warn("Error", args);
    });
});
</script>
