---
title: Generate Strongs
layout: page
permalink: /genHStrong/
---
<button onclick="copy('json')">Click to copy</button>
<pre id="json" style="overflow-y: scroll; height: 90vh;"></pre>
<script>
var text;
function copy(containerid) {
  if (document.selection) {
    var range = document.body.createTextRange();
    range.moveToElementText(document.getElementById(containerid));
    range.select().createTextRange();
    document.execCommand("copy");
  } else if (window.getSelection) {
    var range = document.createRange();
    range.selectNode(document.getElementById(containerid));
    window.getSelection().addRange(range);
    document.execCommand("copy");
    alert("Text has been copied, now paste in the text-area");
  }
}
function genObj(obj) {
    return Object.prototype.toString.call(obj) === "[object Object]" ? obj : {};
}
function genStr(obj) {
    return Object.prototype.toString.call(obj) === "[object String]" ? obj : "";
}
var hstrong;
{% assign ot = site.data.meta | where: "testament", "old" %}
const books = [{% for book in ot %}"{{ book.name }}",{% endfor %}].filter(e => e != "");
fetch('/hstrong.json').then(response => response.json()).then(data => hstrong = data).then(() => {
    for (let h of Object.keys(hstrong)) {
        hstrong[h].refs = [];
    }
    let promises = [];
    books.forEach(b => {
        promises.push(fetch("https://rawcdn.githack.com/openscriptures/morphhb/2005a3e5871ec9517da6a3a4c1b7a440bdb82241/wlc/"+b+".xml?min=1", {cache: "force-cache"}).then(response => response.text()).then(str => (new window.DOMParser()).parseFromString(str, "text/xml")).then(data => {
            let chapters = data.getElementsByTagName("chapter");
            for (let c of chapters) {
                let verses = c.getElementsByTagName("verse");
                for (let v of verses) {
                    let ref = v.attributes.getNamedItem("osisID").value.match(/^(.*?)\.(.*?)\.(.*?)$/);
                    let words = v.getElementsByTagName("w");
                    for (let w of words) {
                        let prelemma = w.attributes.getNamedItem("lemma").value;
                        if (/\+$/.test(prelemma) || !/[0-9]/.test(prelemma)) {
                            continue;
                        }
                        let lemma = prelemma.split("/");
                        let num = lemma.find(s => /[0-9]/.test(s));
                        let morph = w.attributes.getNamedItem("morph").value.split("/").map(j => [...j.replace(/^(H|A)/, '')]);
                        let m = morph[lemma.indexOf(num)];
                        if (m === undefined) {
                            m = morph[morph.length-1];
                        }
                        if (/(a|c|d)/.test(m[m.length - 1]) && /(N|A)/.test(m[0])) {
                            m.pop();
                        }
                        try {
                            let word = hstrong['H'+num.replace(/(\s[a-z])$/, "")];
                            word.refs = word.refs || [];
                            word.refs.push(ref[0]);
                            switch (m.length) {
                                case 1:
                                    word.forms = genStr(word.forms);
                                    break;
                                case 2:
                                    word.forms = genObj(word.forms);
                                    word.forms[m[0]] = genObj(word.forms[m[0]]);
                                    if (word.forms[m[1]]) {
                                        word.forms[m[0]][m[1]] = genStr(word.forms[m[1]]);
                                    } else {
                                        word.forms[m[0]][m[1]] = genStr(word.forms[m[0]][m[1]]);
                                    }
                                    break;
                                case 3:
                                    word.forms = genObj(word.forms);
                                    word.forms[m[0]] = genObj(word.forms[m[0]]);
                                    if (word.forms[m[1]]) {
                                        word.forms[m[0]][m[1]] = genObj(word.forms[m[1]]);
                                    } else {
                                        word.forms[m[0]][m[1]] = genObj(word.forms[m[0]][m[1]]);
                                    }
                                    word.forms[m[0]][m[1]][m[2]] = genStr(word.forms[m[0]][m[1]][m[2]]);
                                    break;
                                case 4:
                                    word.forms = genObj(word.forms);
                                    word.forms[m[0]] = genObj(word.forms[m[0]]);
                                    if (word.forms[m[1]]) {
                                        word.forms[m[0]][m[1]] = genObj(word.forms[m[1]]);
                                    } else {
                                        word.forms[m[0]][m[1]] = genObj(word.forms[m[0]][m[1]]);
                                    }
                                    word.forms[m[0]][m[1]][m[2]] = genObj(word.forms[m[0]][m[1]][m[2]]);
                                    word.forms[m[0]][m[1]][m[2]][m[3]] = genStr(word.forms[m[0]][m[1]][m[2]][m[3]]);
                                    break;
                                case 5:
                                    word.forms = genObj(word.forms);
                                    word.forms[m[0]] = genObj(word.forms[m[0]]);
                                    if (word.forms[m[1]]) {
                                        word.forms[m[0]][m[1]] = genObj(word.forms[m[1]]);
                                    } else {
                                        word.forms[m[0]][m[1]] = genObj(word.forms[m[0]][m[1]]);
                                    }
                                    word.forms[m[0]][m[1]][m[2]] = genObj(word.forms[m[0]][m[1]][m[2]]);
                                    word.forms[m[0]][m[1]][m[2]][m[3]] = genObj(word.forms[m[0]][m[1]][m[2]][m[3]]);
                                    word.forms[m[0]][m[1]][m[2]][m[3]][m[4]] = genStr(word.forms[m[0]][m[1]][m[2]][m[3]][m[4]]);
                                    break;
                                case 6:
                                    word.forms = genObj(word.forms);
                                    word.forms[m[0]] = genObj(word.forms[m[0]]);
                                    if (word.forms[m[1]]) {
                                        word.forms[m[0]][m[1]] = genObj(word.forms[m[1]]);
                                    } else {
                                        word.forms[m[0]][m[1]] = genObj(word.forms[m[0]][m[1]]);
                                    }
                                    word.forms[m[0]][m[1]][m[2]] = genObj(word.forms[m[0]][m[1]][m[2]]);
                                    word.forms[m[0]][m[1]][m[2]][m[3]] = genObj(word.forms[m[0]][m[1]][m[2]][m[3]]);
                                    word.forms[m[0]][m[1]][m[2]][m[3]][m[4]] = genObj(word.forms[m[0]][m[1]][m[2]][m[3]][m[4]]);
                                    word.forms[m[0]][m[1]][m[2]][m[3]][m[4]][m[5]] = genStr(word.forms[m[0]][m[1]][m[2]][m[3]][m[4]][m[5]]);
                                    break;
                                case 7:
                                    word.forms = genObj(word.forms);
                                    word.forms[m[0]] = genObj(word.forms[m[0]]);
                                    if (word.forms[m[1]]) {
                                        word.forms[m[0]][m[1]] = genObj(word.forms[m[1]]);
                                    } else {
                                        word.forms[m[0]][m[1]] = genObj(word.forms[m[0]][m[1]]);
                                    }
                                    word.forms[m[0]][m[1]][m[2]] = genObj(word.forms[m[0]][m[1]][m[2]]);
                                    word.forms[m[0]][m[1]][m[2]][m[3]] = genObj(word.forms[m[0]][m[1]][m[2]][m[3]]);
                                    word.forms[m[0]][m[1]][m[2]][m[3]][m[4]] = genObj(word.forms[m[0]][m[1]][m[2]][m[3]][m[4]]);
                                    word.forms[m[0]][m[1]][m[2]][m[3]][m[4]][m[5]] = genObj(word.forms[m[0]][m[1]][m[2]][m[3]][m[4]][m[5]]);
                                    word.forms[m[0]][m[1]][m[2]][m[3]][m[4]][m[5]][m[6]] = genStr(word.forms[m[0]][m[1]][m[2]][m[3]][m[4]][m[5]][m[6]]);
                                    break;
                                default:
                                    console.warn("Word form is too long or too short:", lemma, m, m.length);
                                    break;
                            }
                        } catch (e) {
                            console.warn(e,ref,lemma,m);
                        }
                    }
                }
            };
        }));
    });
    Promise.all(promises).then(function handleData(data) {
        for (let h of Object.keys(hstrong)) {
            hstrong[h].refs = hstrong[h].refs.sort((a,b)=>books.indexOf(a.match(/^.+?(?=\.)/)[1]) - books.indexOf(b.match(/^.+?(?=\.)/)[1]));
        }
        document.querySelector("#json").innerText = JSON.stringify(hstrong).replace(/,"(H[0-9])/g, ",\n\"$1");
    }).catch(function handleError(...args) {
        console.warn("Error", args);
    });
});
</script>
