---
title: Generate Headers
layout: page
permalink: /genHHeaders/
---
<button onclick="copy('json')">Click to copy</button>
<pre id="json" style="overflow-y: scroll; height: 90vh;"></pre>
<script>
var text;
function copy(containerid) {
  if (document.selection) {
    var range = document.body.createTextRange();
    range.moveToElementText(document.getElementById(containerid));
    range.select().createTextRange();
    document.execCommand("copy");
  } else if (window.getSelection) {
    var range = document.createRange();
    range.selectNode(document.getElementById(containerid));
    window.getSelection().addRange(range);
    document.execCommand("copy");
    alert("Text has been copied, now paste in the text-area");
  }
}
function genStr(obj) {
    return Object.prototype.toString.call(obj) === "[object String]" ? obj : "";
}
var hheaders;
{% assign ot = site.data.meta | where: "testament", "old" %}
const books = [{% for book in ot %}"{{ book.name }}",{% endfor %}].filter(e => e != "");
fetch('/header.json').then(response => response.json()).then(data => hheaders = data).then(() => {
    let promises = [];
    books.forEach(b => {
        promises.push(fetch("https://rawcdn.githack.com/openscriptures/morphhb/2005a3e5871ec9517da6a3a4c1b7a440bdb82241/wlc/"+b+".xml?min=1", {cache: "force-cache"}).then(response => response.text()).then(str => (new window.DOMParser()).parseFromString(str, "text/xml")).then(data => {
            hheaders[b+'.1.1'] = genStr(hheaders[b+'.1.1']);
            let segs = data.querySelectorAll('seg[type$=pe], seg[type$=samekh]');
            for (let s of segs) {
                if (s.parentElement.nextElementSibling) {
                    let ref = s.parentElement.nextElementSibling.attributes.getNamedItem('osisID').value.match(/^(.*?)\.(.*?)\.(.*?)$/)[0];
                    hheaders[ref] = genStr(hheaders[ref]);
                } else if ([...s.parentElement.parentElement.children].at(-1) === s.parentElement && s.parentElement.parentElement.nextElementSibling) {
                    let ref = s.parentElement.parentElement.nextElementSibling.firstElementChild.attributes.getNamedItem('osisID').value.match(/^(.*?)\.(.*?)\.(.*?)$/)[0];
                    hheaders[ref] = genStr(hheaders[ref]);
                }
            }
        }));
    });
    Promise.all(promises).then(function handleData(data) {
        hheaders = Object.keys(hheaders).sort((a,b)=>{
            let v0 = books.indexOf(a.match(/^.+?(?=\.)/)[0]) - books.indexOf(b.match(/^.+?(?=\.)/)[0]);
            if (v0 === 0) {
                let v1 = a.match(/(?<=\.)\d+(?=\.)/)-b.match(/(?<=\.)\d+(?=\.)/);
                if (v1 === 0) {
                    let v2 = a.match(/(?<=\.)\d+$/)-b.match(/(?<=\.)\d+$/);
                    return v2;
                } else {
                    return v1;
                }
            } else {
                return v0;
            }
        }).reduce((obj, key) => {obj[key] = hheaders[key]; return obj}, {});
        document.querySelector("#json").innerText = JSON.stringify(hheaders).replace(/,(".*?")/g, ',\n$1');
    }).catch(function handleError(...args) {
        console.warn("Error", args);
    });
});
</script>
