---
layout: default
---
<!-- "G7":{"lemma":"Ἀβιά","xlit":"Abiá","derivation":"of Hebrew origin (H029);","strongs_def":" Abijah, the name of two Israelites","forms":{"N":{"P":{"R":{"I":""}}}}}, -->
<article class="post">
  <header class="post-header">
    <h1 id="post-title"></h1>
  </header>
  <div class="post-content">
    <ul id="list">
        <li id="lemma"></li>
        <li id="xlit"></li>
        <li id="derivation"></li>
        <li id="strongs_def"></li>
        <li id="forms"></li>
        <li id="refs"></li>
    </ul>
    <div id="iframe-wrapper">
      <iframe id="biblehub" name="biblehub"></iframe>
      <iframe id="logos" name="logos" src="https://wiki.logos.com/morphology_codes#Robinson_Greek_Morphology"></iframe>
    </div>
  </div>

</article>
<script src="https://www.blueletterbible.org/assets/scripts/blbToolTip/BLB_ScriptTagger-min.js" type="text/javascript"></script>
<script>
const books = [{% for book in site.data.meta %}"{{ book[1].name }}",{% endfor %}].filter(e => e != "");
var number = /\?q=/.test(document.location.href) ? decodeURIComponent(document.location.href.match(/\?q=(.*?)#?$/)[1]).replaceAll('+', ' ') : "";
document.title = `Strong's Greek Dictionary: G${number}`;
document.getElementById("post-title").innerText = document.title;
var listEl = document.getElementById('list');
var lemmaEl = document.getElementById('lemma');
var translitEl = document.getElementById('xlit');
var derivationEl = document.getElementById('derivation');
var strongs_defEl = document.getElementById('strongs_def');
var formsEl = document.getElementById('forms');
var refsEl = document.getElementById('refs');
var def;
fetch('https://strongs.netlify.app/strong/hstrong.json').then(response => response.json()).then(data => {
  def = data['G'+number];
  // console.log(data, number, data[number]);
  lemmaEl.innerText = def.lemma;
  translitEl.innerText = def.xlit;
  derivationEl.innerHTML = def.derivation.replace(/H([0-9]+)/g, '<a href="/hebrew?q=$1">H$1</a>').replace(/G([0-9]+)/g, '<a href="?q=$1">G$1</a>');
  strongs_defEl.innerHTML = def.strongs_def.replace(/H([0-9]+)/g, '<a href="/hebrew?q=$1">H$1</a>').replace(/G([0-9]+)/g, '<a href="?q=$1">G$1</a>');
  var words = {
    parts: {
        'A':'Adjective',
        'C':'Conjunction',
        'D':'Adverb',
        'N':'Noun',
        'P':'Pronoun',
        'R':'Preposition',
        'S':'Suffix',
        'T':'Particle',
        'V':'Verb',
        'A':'Adjective',
        'B':'Adverb',
        'C':'Conjunction',
        'I':'Interjection',
        'L':'Particle',
        'N':'Noun',
        'P':'Preposition',
        'Q':'Conjunction or Conditional Particle',
        'R':'Pronoun',
        'T':'Definite Article',
        'V':'Verb',
        'Z':'Indeclinable',
        'CONJ':'Conjuction',
        'COND':'Conditional Particle',
        'PREP':'Preposition',
        'ADV':'Adverb',
        'PRT':'Particle',
    },
  }
  function formLoop(key, form, ul, loop) {
    if (Object.prototype.toString.call(form) === "[object Object]") {
      let li = document.createElement('li');
      if (def.forms[key] === form) {
        let h3 = document.createElement('h3');
        h3.innerHTML = `<a href="https://uhg.readthedocs.io/en/latest/${words.parts[key].toLowerCase()}.html" target="_blank" rel="noopener noreferrer">${words.parts[key]}</a>`;
        ul.append(h3);
        let ul1 = document.createElement('ul');
        ul.append(ul1);
      } else {
        li.innerText = key + ':';
      }
      ul.append(li);
      let ul2 = document.createElement('ul');
      li.append(ul2);
      for (k of Object.keys(form)) {
        loop(k, form[k], ul2, loop);
      }
    } else if (form !== undefined) {
      let li = document.createElement('li');
      li.innerText = form;
      ul.append(li);
    }
  }
  for (k of Object.keys(def.forms)) {
    formLoop(k, def.forms[k], formsEl, formLoop);
  }
  refsEl.innerHTML = '<ul>'
  var ordering = {}; // map for efficient lookup of sortIndex
  let bl = books.length;
  for (var i = 0; i < bl; i++) {
    ordering[books[i]] = i;
  }
  let refs = def.refs.sort((a,b)=>books.indexOf(a.split('.')[0]) - books.indexOf(b.split('.')[0]));
  let total = Math.min(15,refs.length);
  for (let i = 0; i < total; i++) {
    let ref = refs[i].replace(/(.*?)\.(.*?)\.(.*?)/, "$1 $2:$3");
    refsEl.innerHTML += `<li><a href="/bible/?q=${encodeURIComponent(ref)}">${ref}</a></li>`
  }
  refsEl.innerHTML += '</ul>'
});
document.querySelector('#biblehub').src = 'https://biblehub.com/greek/'+number+'.htm#movebox2';
// document.querySelector('#blb').src = 'https://www.blueletterbible.org/lexicon/g'+number+'/kjv/wlc/0-1/';
// document.querySelector('#uhd').src = 'https://uhg.readthedocs.io/en/latest/'+''+'.html';
// document.querySelector('#').src = '';
BLB.Tagger.Translation = 'NASB';
BLB.Tagger.HyperLinks = 'hover';
BLB.Tagger.TargetNewWindow = true;
</script>
