---
layout: default
---
<!-- {"H1":{"lemma":"אָב","xlit":"ʼâb","pron":"awb","derivation":"a primitive word;","strongs_def":"father","forms":{"N":{"c":{"m":{"s":"father","d":"fathers","p":"fathers"}},"e":"","p":""}}}, -->
<article class="post">
  <header class="post-header">
    <h1 id="post-title"></h1>
  </header>
  <div class="post-content">
    <ul id="list">
        <li id="lemma"></li>
        <li id="xlit"></li>
        <li id="pron"></li>
        <li id="derivation"></li>
        <li id="strongs_def"></li>
        <li id="forms"></li>
        <li id="refs"></li>
    </ul>
    <div id="iframe-wrapper">
      <iframe id="biblehub" name="biblehub"></iframe>
      <iframe id="openscripture" name="openscripture" src="https://raw.githack.com/openscriptures/morphhb-parsing/master/HebrewMorphologyCodes.html"></iframe>
      <iframe id="biblehubverses" name="biblehubverses"></iframe>
    </div>
  </div>

</article>
<script src="https://www.blueletterbible.org/assets/scripts/blbToolTip/BLB_ScriptTagger-min.js" type="text/javascript"></script>
<script>
const books = [{% for book in site.data.meta %}"{{ book[1].name }}",{% endfor %}].filter(e => e != "");
var number = /\?q=/.test(document.location.href) ? decodeURIComponent(document.location.href.match(/\?q=(.*?)#?$/)[1]).replaceAll('+', ' ') : "";
document.title = `Strong's Hebrew Dictionary: H${number}`;
document.getElementById("post-title").innerText = document.title;
var listEl = document.getElementById('list');
var lemmaEl = document.getElementById('lemma');
var xlitEl = document.getElementById('xlit');
var pronEl = document.getElementById('pron');
var derivationEl = document.getElementById('derivation');
var strongs_defEl = document.getElementById('strongs_def');
var formsEl = document.getElementById('forms');
var refsEl = document.getElementById('refs');
var def;
fetch('https://strongs.netlify.app/strong/hstrong.json').then(response => response.json()).then(data => {
  def = data['H'+number];
  // console.log(data, number, data[number]);
  lemmaEl.innerText = def.lemma;
  xlitEl.innerText = def.xlit;
  pronEl.innerText = def.pron;
  derivationEl.innerHTML = def.derivation.replace(/H([0-9]+)/g, '<a href="?q=$1">H$1</a>').replace(/G([0-9]+)/g, '<a href="/greek?q=$1">G$1</a>');
  strongs_defEl.innerHTML = def.strongs_def.replace(/H([0-9]+)/g, '<a href="?q=$1">H$1</a>').replace(/G([0-9]+)/g, '<a href="/greek?q=$1">G$1</a>');
  var words = {
    parts: {
      'A':'Adjective',
      'C':'Conjunction',
      'D':'Adverb',
      'N':'Noun',
      'P':'Pronoun',
      'R':'Preposition',
      'S':'Suffix',
      'T':'Particle',
      'V':'Verb',
    },
    verbStemsH: {
      'q':'qal',
      'N':'niphal',
      'p':'piel',
      'P':'pual',
      'h':'hiphil',
      'H':'hophal',
      't':'hithpael',
      'o':'polel',
      'O':'polal',
      'r':'hithpolel',
      'm':'poel',
      'M':'poal',
      'k':'palel',
      'K':'pulal',
      'Q':'qal passive',
      'l':'pilpel',
      'L':'polpal',
      'f':'hithpalpel',
      'D':'nithpael',
      'j':'pealal',
      'i':'pilel',
      'u':'hothpaal',
      'c':'tiphil',
      'v':'hishtaphel',
      'w':'nithpalel',
      'y':'nithpoel',
      'z':'hithpoel',
    },
    verbStemsA: {
      'q':'peal',
      'Q':'peil',
      'u':'hithpeel',
      'p':'pael',
      'P':'ithpaal',
      'M':'hithpaal',
      'a':'aphel',
      'h':'haphel',
      's':'saphel',
      'e':'shaphel',
      'H':'hophal',
      'i':'ithpeel',
      't':'hishtaphel',
      'v':'ishtaphel',
      'w':'hithaphel',
      'o':'polel',
      'z':'ithpoel',
      'r':'hithpolel',
      'f':'hithpalpel',
      'b':'hephal',
      'c':'tiphel',
      'm':'poel',
      'l':'palpel',
      'L':'ithpalpel',
      'O':'ithpolel',
      'G':'ittaphal',
    },
    verbConj: {
      'p':'perfect (qatal)',
      'q':'sequential perfect (weqatal)',
      'i':'imperfect (yiqtol)',
      'w':'sequential imperfect (wayyiqtol)',
      'h':'cohortative',
      'j':'jussive',
      'v':'imperative',
      'r':'participle active',
      's':'participle passive',
      'a':'infinitive absolute',
      'c':'infinitive construct',
    },
    adjTypes: {
      'a':'adjective',
      'c':'cardinal number',
      'g':'gentilic',
      'o':'ordinal number',
    },
    nounTypes: {
      'c':'common',
      'g':'gentilic',
      'p':'proper name',
    },
    pronounTypes: {
      'd':'demonstrative',
      'f':'indefinite',
      'i':'interrogative',
      'p':'personal',
      'r':'relative',
    },
    prepositionTypes: {
      'd':'definite article',
    },
    suffixTypes: {
      'd':'directional he',
      'h':'paragogic he',
      'n':'paragogic nun',
      'p':'pronominal',
    },
    particleTypes: {
      'a':'affirmation',
      'd':'definite article',
      'e':'exhortation',
      'i':'interrogative',
      'j':'interjection',
      'm':'demonstrative',
      'n':'negative',
      'o':'direct object marker',
      'r':'relative',
    },
    person: {
      '1':'first',
      '2':'second',
      '3':'third',
    },
    gender: {
      'b':'both (noun)',
      'c':'common (verb)',
      'f':'feminine',
      'm':'masculine',
    },
    number: {
      'd':'dual',
      'p':'plural',
      's':'singular',
    },
    state: {
      'a':'absolute',
      'c':'construct',
      'd':'determined',
    },
  }
  function formLoop(key, form, ul, loop) {
    if (Object.prototype.toString.call(form) === "[object Object]") {
      let li = document.createElement('li');
      if (def.forms[key] === form) {
        let h3 = document.createElement('h3');
        h3.innerHTML = `<a href="https://uhg.readthedocs.io/en/latest/${words.parts[key].toLowerCase()}.html" target="_blank" rel="noopener noreferrer">${words.parts[key]}</a>`;
        ul.append(h3);
        let ul1 = document.createElement('ul');
        ul.append(ul1);
      } else {
        li.innerText = key + ':';
      }
      ul.append(li);
      let ul2 = document.createElement('ul');
      li.append(ul2);
      for (k of Object.keys(form)) {
        loop(k, form[k], ul2, loop);
      }
    } else if (form !== undefined) {
      let li = document.createElement('li');
      li.innerText = form;
      ul.append(li);
    }
  }
  for (k of Object.keys(def.forms)) {
    formLoop(k, def.forms[k], formsEl, formLoop);
  }
  refsEl.innerHTML = '<ul>'
  var ordering = {}; // map for efficient lookup of sortIndex
  let bl = books.length;
  for (var i = 0; i < bl; i++) {
    ordering[books[i]] = i;
  }
  let refs = def.refs.sort((a,b)=>books.indexOf(a.split('.')[0]) - books.indexOf(b.split('.')[0]));
  let total = Math.min(15,refs.length);
  for (let i = 0; i < total; i++) {
    let ref = refs[i].replace(/(.*?)\.(.*?)\.(.*?)/, "$1 $2:$3");
    refsEl.innerHTML += `<li><a href="/bible/?q=${encodeURIComponent(ref)}">${ref}</a></li>`
  }
  refsEl.innerHTML += '</ul>'
});
document.querySelector('#biblehub').src = 'https://biblehub.com/hebrew/'+number+'.htm#movebox2';
document.querySelector('#biblehubverses').src = 'https://biblehub.com/hebrew/strongs_'+number+'.htm#leftbox';
// document.querySelector('#uhd').src = 'https://uhg.readthedocs.io/en/latest/'+''+'.html';
// document.querySelector('#').src = '';
BLB.Tagger.Translation = 'NASB';
BLB.Tagger.HyperLinks = 'hover';
BLB.Tagger.TargetNewWindow = true;
</script>
