---
layout: default
---
<div class="home">
  <script src="https://www.biblegateway.com/votd/votd.write.callback.js"></script>
  <script src="https://www.biblegateway.com/votd/get/?format=json&version=NIV&callback=BG.votdWriteCallback"></script>
  <noscript>
  <iframe framespacing="0" frameborder="no" src="https://www.biblegateway.com/votd/get/?format=html&version=NIV">View Verse of the Day</iframe>
  </noscript>
  {% include timeline.html id="1ulQOdFOc3EHA4oHKAMu72XRbezXE7imScH6mAUA0mR4" %}
</div>
