---
title: Posts
layout: page
permalink: /posts/
nav: true
---
<ul>
{% for post in site.pages %}
    {% if post.dir == "/posts/" and post.url != "/posts/" %}
    <li class="free-li"><a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>
