<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <script src="https://unpkg.com/core-js-bundle@3.15.0/minified.js"></script>
  <!-- <script src="https://gistcdn.githack.com/c-kick/2d717790aadd3aa86884ee0b07c3119f/raw/f524643c842c93304bddcc0cef9195626ad8a9a0/hnl.mobileConsole.js"></script> -->
  <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js" type="text/javascript"></script>
</head>
