<!--<div id='timeline-embed'></div>
<script defer="defer">
window.onload=()=>{tljs('{{ include.id }}');};
</script>-->
<iframe class="timeline-iframe" src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source={{include.id}}&font=Default&maptype=toner&&initial_zoom=2&height=800&timenav_height_percentage=50&use_bc=true' width='600' height='800' frameborder='0' title="TimelineJS"></iframe>
