/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    z-index: 1;
    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 0;
    > .wrapper {
        // background: url("https://sfc-cmg.netlify.app/media/Still_Backgrounds/Ink%20Blast%20-%20April%202020/Ink%20Blast%20Across.jpg");
        background-attachment: fixed;
        max-width: unset;
        color: white;
        background-color: #ba9;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='200' viewBox='0 0 160 80'%3E%3Cg fill='%23B0A090' %3E%3Cpolygon points='0 10 0 0 10 0'/%3E%3Cpolygon points='0 40 0 30 10 30'/%3E%3Cpolygon points='0 30 0 20 10 20'/%3E%3Cpolygon points='0 70 0 60 10 60'/%3E%3Cpolygon points='0 80 0 70 10 70'/%3E%3Cpolygon points='50 80 50 70 60 70'/%3E%3Cpolygon points='10 20 10 10 20 10'/%3E%3Cpolygon points='10 40 10 30 20 30'/%3E%3Cpolygon points='20 10 20 0 30 0'/%3E%3Cpolygon points='10 10 10 0 20 0'/%3E%3Cpolygon points='30 20 30 10 40 10'/%3E%3Cpolygon points='20 20 20 40 40 20'/%3E%3Cpolygon points='40 10 40 0 50 0'/%3E%3Cpolygon points='40 20 40 10 50 10'/%3E%3Cpolygon points='40 40 40 30 50 30'/%3E%3Cpolygon points='30 40 30 30 40 30'/%3E%3Cpolygon points='40 60 40 50 50 50'/%3E%3Cpolygon points='50 30 50 20 60 20'/%3E%3Cpolygon points='40 60 40 80 60 60'/%3E%3Cpolygon points='50 40 50 60 70 40'/%3E%3Cpolygon points='60 0 60 20 80 0'/%3E%3Cpolygon points='70 30 70 20 80 20'/%3E%3Cpolygon points='70 40 70 30 80 30'/%3E%3Cpolygon points='60 60 60 80 80 60'/%3E%3Cpolygon points='80 10 80 0 90 0'/%3E%3Cpolygon points='70 40 70 60 90 40'/%3E%3Cpolygon points='80 60 80 50 90 50'/%3E%3Cpolygon points='60 30 60 20 70 20'/%3E%3Cpolygon points='80 70 80 80 90 80 100 70'/%3E%3Cpolygon points='80 10 80 40 110 10'/%3E%3Cpolygon points='110 40 110 30 120 30'/%3E%3Cpolygon points='90 40 90 70 120 40'/%3E%3Cpolygon points='10 50 10 80 40 50'/%3E%3Cpolygon points='110 60 110 50 120 50'/%3E%3Cpolygon points='100 60 100 80 120 60'/%3E%3Cpolygon points='110 0 110 20 130 0'/%3E%3Cpolygon points='120 30 120 20 130 20'/%3E%3Cpolygon points='130 10 130 0 140 0'/%3E%3Cpolygon points='130 30 130 20 140 20'/%3E%3Cpolygon points='120 40 120 30 130 30'/%3E%3Cpolygon points='130 50 130 40 140 40'/%3E%3Cpolygon points='120 50 120 70 140 50'/%3E%3Cpolygon points='110 70 110 80 130 80 140 70'/%3E%3Cpolygon points='140 10 140 0 150 0'/%3E%3Cpolygon points='140 20 140 10 150 10'/%3E%3Cpolygon points='140 40 140 30 150 30'/%3E%3Cpolygon points='140 50 140 40 150 40'/%3E%3Cpolygon points='140 70 140 60 150 60'/%3E%3Cpolygon points='150 20 150 40 160 30 160 20'/%3E%3Cpolygon points='150 60 150 50 160 50'/%3E%3Cpolygon points='140 70 140 80 150 80 160 70'/%3E%3C/g%3E%3C/svg%3E");
        .wrapper {    
            background-image: linear-gradient(to bottom right, #ffff, #fff0, #ffff, #fff0, #ffff, #fff0, #ffff, #fff0);
            border-radius: 5px;
            background-size: 0 0;
            z-index: 0;
            box-shadow: 0 8px 32px 0 #1286;
            backdrop-filter: blur(4px);
            background-color: #fff4;
            margin-bottom: 50px;
            padding: 30px;
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: inherit;
                background-size: auto;
                -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="100%" height="100%" style="height:100%;width:100%" rx="5" ry="5" stroke-width="1" fill="transparent" stroke="white"/></svg>') 0 / 100% 100%;
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="100%" height="100%" style="height:100%;width:100%" rx="5" ry="5" stroke-width="1" fill="transparent" stroke="white"/></svg>') 0 / 100% 100%;
            }
            h2, & p {
                box-shadow: 0 8px 32px 0 #1286;
                margin: 5px;
                padding: 7px;
                border-radius: 4px;
                background: #fffa;
                color: black;
            }
        }
    }
    h1 {
        text-align: center;
        padding-top: 15px;
        text-shadow: 0 0 10px #c8c8c8;
    }
    ul.flex {
        display: flex;
        list-style: none;
        flex-flow: wrap;
        justify-content: center;
        margin-left: 0;
        > li.free-li, li.square-li {
            float: left;
            border: 1px solid rgba(255, 255, 255, 0.18);
            outline: none;
            cursor: pointer;
            transition: 0.3s;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            margin: 5px;
            border-radius: 10px;
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 37%);
            overflow: hidden;
            background-color: rgba(255, 0, 0, 0.5);
            &:hover {
                background-color: rgba(255,255,255,0.4);
            }
            > a {
                height: 100%;
                width: 100%;
                display: block;
                color: white;
            }
        }
        > li.free-li {
            > a {
                padding: 15px 15px;
                text-align: left;
            }
        }
        > li.square-li {
            width: 54px;
            height: 54px;
            > a {
                padding: 15px 0;
                text-align: center;
            }
        }
    }
    ul {
        .verse {
            list-style: none;
            margin-left: 0;
        }
        li {
            text-align: left;
            > .v {
                color: white;
                text-decoration: underline;
            }
        }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.torah {
    background-color: rgba(255, 0, 0, 0.5);
}
.neviim {
    background-color: rgba(255, 255, 0, 0.5);
}
.ketuvim {
    background-color: rgba(255, 0, 255, 0.5);
}
.gospel {
    background-color: rgba(0, 255, 255, 0.5);
}
.history {
    background-color: rgba(255, 0, 0, 0.5);
}
.pauline {
    background-color: rgba(0, 255, 0, 0.5);
}
.epistles {
    background-color: rgba(255, 255, 255, 0.5);
}
.apocalyptic {
    background-color: rgba(0, 0, 255, 0.5);
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.thumb img {
    margin: 0 auto;
    display: block;
    width: 50%;
    height: auto;
}

/* start_at_slide:
0: Intro Slide
13: Flood
128: Jesus
*/
.timeline-iframe {
    margin: 0 auto;
    padding: 15px 0;
    display: block;
    max-width: 100%;
}
#timeline-embed {
	width: 100%;
	height: 500px;
    overflow: scroll;
}/*
.tl-timeaxis,
.tl-timeaxis-background {
	height: 57px !important;
}
.tl-timeera {
	height: 58px !important;
}
.tl-timemarker
	.tl-timemarker-content-container
	.tl-timemarker-content
	.tl-timemarker-text
	h2.tl-headline,
.tl-timemarker
	.tl-timemarker-content-container
	.tl-timemarker-content
	.tl-timemarker-text
	h2.tl-headline
	p {
	font-size: 11px !important;
}
.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content {
	padding: 3px !important;
}
.tl-timeaxis
	.tl-timeaxis-content-container
	.tl-timeaxis-major
	.tl-timeaxis-tick:before {
	line-height: 25px !important;
}
/* .tl-slide:not(.tl-full-color-background) {
	background-color: ivory !important;
} */
/* .tl-slide .tl-slide-background {
	background-color: #611e03;
	display: block !important;
} *//*
.tl-storyslider .tl-slider-container-mask {
	display: block;
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url(https://glcdn.githack.com/biblewiki/timeline/raw/master/Wiki-background.png);
}
.tl-text {
	background-color: #601c00a6;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	border-radius: 5px;
}
.tl-media ~ .tl-text {
	border-radius: 0 5px 5px 0;
}
.tl-media {
	background-color: #601c00a6;
	padding-top: 5px !important;
	border-radius: 5px 0 0 5px;
	padding-bottom: 5px !important;
	padding-left: 5px !important;
	width: calc(100% - 5px) !important;
}
.tl-timegroup:not(.tl-timegroup-alternate) {
	background-color: #eae7d8 !important;
}
.tl-timegroup-alternate {
	background-color: ivory !important;
}
.tl-timegroup .tl-timegroup-message {
	color: #888 !important;
}
.tl-timemarker
	.tl-timemarker-content-container
	.tl-timemarker-content
	.tl-timemarker-text
	h2.tl-headline,
.tl-timemarker
	.tl-timemarker-content-container
	.tl-timemarker-content
	.tl-timemarker-text
	h2.tl-headline
	p {
	color: #555 !important;
}
*/

#searchForm {
    display: flex;
    margin: 0 25px;
    height: 30px;
    padding: 15px 0;
    justify-content: space-between;
    #searchBox {
        height: 24px;
        width: 75%;
    }
    #searchBtn {
        height: 100%;
        width: 23%;
    }
}

#verses {
    box-shadow: 0 8px 32px 0 #1286;
    margin: 5px;
    padding: 7px;
    border-radius: 4px;
    background: #fffa;
    color: black;
    p {
        box-shadow: unset;
        margin: initial;
        padding: initial;
        border-radius: unset;
        background: unset;
        color: black;
        display: inline;
        ~ .switch input:checked {
            display: block;
        }
        sup {
            font-weight: 600;
        }
        br {
            content: "";
            margin: 15px 0;
            display: block;
        }
    }
    &.block p {
        display: block;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    height: 34px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

/* The slider */
.slider {
    position: relative;
    cursor: pointer;
    background-color: #fffa;
    box-shadow: 0 8px 32px 0 #1286;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    width: 60px;
    margin: 0 3%;
    height: 100%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
#lemma {
    font-family: monospace;
    font-size: 45px;
    list-style: none;
}

#iframe-wrapper {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    iframe {
        width: 300px;
        height: 300px;
        flex-grow: 1;
        margin: 15px;
        border-radius: 5px;
        overflow: hidden;
    }
}
