---
layout: post
title: Historical Sabbath Calculator
---
<input type="date" onchange="get24weeks(this.valueAsNumber)">
<br>
<textarea readonly style="height: 200px; width: 140px;" id="results"></textarea>
<script type="text/javascript" charset="utf-8">
  var years = {};
  var yearsL = [];
  var yearsA = [];
  var years1 = [];
  var years2 = [];
  var years3 = [];
  function get24weeks(v) {
    var r = document.querySelector("#results");
    r.value = "";
    var d = new Date(v);
    var gd = new Date("4 October 1582");
    var gc = false;
    while (d.getFullYear() !== -10) {
      d.setDate(d.getDate() - 168);
      var y = d.getFullYear();
      if (years[y] !== undefined) {
        years[y] += 1;
      } else {
        years[y] = 1;
      }
      if (d < gd && !gc) {
        d.setDate(d.getDate() - 10);
        gc = true;
      }
      var t = new Date(d);
      t.setDate(d.getDate() + 1);
      r.value += t.toDateString().replace('Wed', 'Sat') + "\n";
    }
    for (k in years) {
      yearsA[yearsA.length] = k;
      if (years[k] === 1) {
        years1[years1.length] = k;
      } else if (years[k] === 2) {
        years2[years2.length] = k;
      } else if (years[k] === 3) {
        years3[years3.length] = k;
      }
      if ((k % 4) == 0 && k <= 1582 && k > 8) {
        yearsL[yearsL.length] = k;
      }
    }
  }
</script>
