<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script>
      function tljs(tl) {
	var options = {
		hash_bookmark: true,
		timenav_height_percentage: 60,
		timenav_mobile_height_percentage: 50,
		// initial_zoom: 1,
		scale_factor: 9,
		marker_padding: 0,
		marker_height_min: 20,
		marker_width_min: 100,
		start_at_slide: 0,
		slide_padding_lr: 50,
		trackResize: false
	};
	var timeline = new TL.Timeline(
		"timeline-embed",
		"https://docs.google.com/spreadsheets/d/" + tl + "/pubhtml",
		options
	);
}
    </script>

  </body>

</html>
