---
layout: default
---
<!-- {"H1":{"lemma":"אָב","xlit":"ʼâb","pron":"awb","derivation":"a primitive word;","strongs_def":"father","forms":{"c":{"m":{"s":"father","d":"fathers","p":"fathers"}},"e":"","p":""}}, -->
<script>
    document.title = "{{ page.title | flatify }}";
</script>
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | flatify }}</h1>
  </header>

  <div class="post-content">

<ul>
    <li>{{ page.data.lemma }}</li>
    <li>{{ page.data.xlit }}</li>
    <li>{{ page.data.pron }}</li>
    <li>{{ page.data.derivation }}</li>
    <li>{{ page.data.strongs_def }}</li>
    <li>{{ page.data.forms }}</li>
</ul>
    {{ content }}
  </div>

</article>
